@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&amp;display=swap");
:root {
  --body-color: #2c2d2a;
  --savanna-bg: #e9bf8b;
  --beach-bg: #e7dfcf;
  --glacier-bg: #b6d6c8;
  --coral-bg: #e86357;
  --arrow-fill: #333231;
  --body-font: "Poppins";
  --italic-font: "Poppins";
  --height: calc(80vh - 50px);
  --width: 850px;
}

* {
  box-sizing: border-box;
  
  
}
body {
  overflow-x: hidden;
}
 
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ff9700 !important;

}

h1,
h2,
h3 {
  margin: 10px;
  font-size: 22px;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff !important;
  background-size: cover;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 6;
  font-family: 'Poppins', sans-serif;
  
}
.header a {
  font-size: 10px;
  color: #6c757d !important;
  
}

.header span {
  color: #ff9700 !important;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
  margin-left: 2px;
}
.header h1 {
  font-weight:400 !important;
  font-family: 'Poppins', sans-serif;
  color: #6c757d !important;
  width: 130px;
  margin-left: 60px;
  margin-bottom: 0px;
  font-size: 40px !important;
  font-family: "poppins";
  font-weight: 300;
}
.menu {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.menu a:hover {
  color: #ff9700 !important;
  text-decoration:wavy !important;
  
  width: fit-content;
  background-color: transparent !important;
}
.nav-link:hover {
  color: #ff9700 !important;
  border-bottom: #ff9700 solid 2px !important;
  width: fit-content;
}
.dropdown a  {
  border: none !important;
}
.dropdown-menu a {
  margin: 10px 0px;
  color: white !important;
}
.dropdown-menu {
  background-color: #6c757d !important;
  color: white !important;
}
.botonContacto{
  display: flex;
  align-items: center;
  justify-content: center;
  background:#ff9700;
  color:#fff;
  border:none;
  border-radius: 10px;
  position:relative;
  height:40px;
  font-size:13px;
  text-align: center;
  margin:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 120px;
}
.botonContacto:hover{
  background:#fff;
  color:#ff9700;
  width: fit-content;
}
.botonContacto:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ff9700;
  transition:400ms ease all;
}
.botonContacto:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.botonContacto:hover:before,.botonContacto:hover:after{
  width:100%;
  transition:700ms ease all;
}

.botonOpen {
  display: none;
}
.botonClose {
  display: none;
}
.nav , .nav-item {
  border: 0px !important;
}
/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  padding: 40px 0 0px 0;
  background-color: #E6E6E6;
  
}
.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}



#hero{ 
  width: 100%;
  background-color: #E4DED5; 
  height: 100vh !important;
  margin: 0% !important;
  overflow: hidden;
  position: relative;
}
.conte{
  padding: 10%;
}
.primero{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
}
.fbx2{
  position: absolute;
  opacity: 0;
  width: 100% !important ;
  height: 500px !important;
  background-color: transparent; 
  top:-50%;
  left:30%;
  margin-top: -15%;
}
.esfera{
  position: absolute;
  z-index: -1;

}

.particulas{
  position: absolute;
  opacity: 0;
  width: 100% !important ;
  height: 500px !important;
  background-color: transparent; 
  left:50%;
  margin-top: -15%;
}
.particulas2{
  position: absolute;
  opacity: 0;
  width: 100% !important ;
  height: 500px !important;
  background-color: transparent; 
  left:30%;
  margin-top: -15%;
}
.Segundo{
  position: absolute;
  transform: scale(0);
  width: 100% !important;
  margin-top: -15%;

}
.Tercero{
  position: absolute;
  width: 100% !important;
  transform: scale(0);
  margin-top: -15%;
}
.hero-content{
  position: absolute;
  width: 100% !important;
  transform: scale(0);
  opacity: 0;
  margin-top: -15%;
}
/*---------------
services desktop
------------*/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #E6E6E6;
  padding: 20px;
}
.serviceRight {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
}
#accordion {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.services button {
  color: black !important;
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: fit-content !important;
}

.serviceIcon {
  display: flex;
  width: 140px;
  height: 140px;
  border-radius: 40px;
  background-color: transparent !important;

}
.serviceIcon img {
  width: 120px;
  height: 120px;
  padding: 20px;
}
.services h5 {
  font-family: sans-serif;
  border-radius: 15px;
}
.botonTitulo {
  color: #ff9700 !important;
  font-weight: bold;
}
.collapsed {
  border: none !important;
}
.services h5 button:focus {
  outline: transparent !important;
  z-index: 0 !important;
}
.card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
.card-body p{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
  width: 100%;
  font-size: 11px;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px !important;
  height: 300px;
  color: #6c757d;
  font-style: normal;
  text-align:left;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 20px !important;
}
.card-header{
  border-radius: 20px !important;
  background-color: #ffffff !important;
  border-bottom: none !important;
}
.card div h5 {
  width: fit-content;
}

.card-header {
  padding: 0px !important;
}

/*-------------------------------------
targets groups projects
---------------------------------------*/
.grupo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 100px 0px;
  width: 100%;
  height: fit-content;
  border: #333231 solid 1px;
}
.article{
  position: relative;
  width: 400px;
  transition: all .3s ease;
}
.article img:first-child , .article video {
  box-shadow: 0 60px 60px
  -60px rbga(0, 30, 255, 0.5);
  border-radius: 20px;
  object-fit: cover;
  width: 500px;
  height: 300px;
}
.article img:last-child{
  position: absolute;
  width: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(15%);
  transition: .3s ease;
  opacity: 0;
}
.texto-grupo{
  position: absolute;
  width: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(15%);
  transition: .3s ease;
  opacity: 0;
}
.article:hover{
  transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}
.article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: 
  linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rbga(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all .3s ease;
}
.article:hover::before{
  opacity: 1;
}
.article:hover img:last-child{
  opacity: 1;
}
.texto-grupo{
  opacity: 1;
}
.equipo {
  display: grid;
  transform: translate3d(0, 0, 0.1px);
  padding: 0 10%;
}
.equipo__list {
  display: flex;
  overflow: hidden;
  list-style: none;
  padding: 2em 0 3em;
  margin: 0;
  contain: layout;
  isolation: isolate;
}
.equipo__item {
  display: grid;
  position: relative;
  align-content: start;
  margin: 0 10px;
  padding: 0;
  flex: 1 1 10%;
  height: var(--height);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  transform: translate3d(0, 0, 0.1px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 15px 2px, rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  contain: layout;
  isolation: isolate;
}
.equipo__item,
.equipo__item * {
  transition: all 0.6s cubic-bezier(0.55, 0.24, 0.18, 1);
  user-select: none;
}
.equipo__image,
.equipo__contents {
  width: var(--width);
  height: auto;
}
.equipo__item:hover {
  flex-basis: calc(var(--width) / 2);
  transition: all 0.3s ease;
}
.equipo__item[data-active] {
  flex-basis: var(--width);
  flex-grow: 0;
}
.equipo__item img {
  display: block;
  position: absolute;
  width: var(--width);
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  aspect-ratio: 2/3;
  object-fit: cover;
  filter: saturate(0.2) contrast(0.75) brightness(1.1);
}

.equipo__item::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background: linear-gradient(130deg, rgba(2, 0, 36, 0) 40%, rgba(244, 164, 66, 0.5) 70%, rgba(243, 154, 46, 0.7) 100%);
  transition: all 0.66s cubic-bezier(0.55, 0.24, 0.18, 1);
}

.equipo__item[data-active]::after {
  transform: translateY(100%);
}

.equipo__item[data-active],
.equipo__item[data-active] * {
  opacity: 1;
  filter: none;
}

.equipo__contents {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  min-height: 200px;
  padding: 1em;
  z-index: 2;
  background-image: radial-gradient(ellipse at 0px 0px, rgba(0, 0, 0, 0.4) 20%, transparent 50%);
  background-size: 170% 200px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.equipo__contents .user__name {
  color: #e8eff4;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.equipo__contents .user__title {
  font-family: lexend;
  font-size: 0.875em;
  letter-spacing: 1.25px;
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(270deg, rgb(67, 255, 0), rgb(0, 255, 247));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.85;
  margin-bottom: 0.5em;
}
.equipo__contents .user__title, .equipo__contents .user__name {
  margin: 0;
  line-height: 1.1;
  opacity: 0;
  transform: translateX(-200px);
  transition-duration: 1s;
  max-width: 18em;
}
[data-active] .equipo__contents * {
  transform: translateX(0px);
  transition-duration: 0.66s;
  opacity: 1;
}
[data-active] .equipo__contents .user__name {
  transition-delay: 0.1s;
}
[data-active] .equipo__contents .user__title {
  opacity: 0.1;
  transition-delay: 0.05s;
}

.botonDemo{
  display: flex;
  align-items: center;
  justify-content: center;
  background:#ff9700;
  color:#fff;
  border:none;
  border-radius: 10px;
  position:relative;
  font-size:18px;
  text-align: center;
  margin:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 200px;
  height:60px;
}
.botonDemo:hover{
  background:#fff;
  color:#ff9700;
  width: 300px;
  height: 60px;
}
.botonDemo:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ff9700;
  transition:400ms ease all;
}
.botonDemo:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.botonDemo:hover:before,.botonDemo:hover:after{
  width:100%;
  transition:700ms ease all;
}
.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.ejemplo{
  
  background-color: #E6E6E6 !important;
  
}
.ejemplo div {
  background-color: transparent !important;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap:10px;
  animation: moveRight 6s linear infinite;
  background-color: #E6E6E6;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  
}
.ejemplo img {
  width:300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.associate {
  position: relative;
  width: 100% !important;
  height: fit-content;
}
.associate div {
  display: inline-block;
  height: 80px;
  width: 100%;
 
}
.associate div div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 50px;
}

footer{
  height: 200px;
  background-color: #2c2d2a;
}
/*-------------------------------------
targets groups projects end
---------------------------------------*/
/*-----------------------------------------------------------
media query cellphone
------------------------------------------------------------*/

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botonOpen , .botonClose {
    display: block;
    color: #ff9700;
    background-color: transparent;
    border: 0px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items:center ;
  }
  .menu {
    opacity: 0;
    visibility: hidden;
  }
  .menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.1);
    align-items:initial;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 1;
  }
  .menu.visible{
    opacity: 1;
    visibility: visible;
  }
  .header {
    padding: 2rem;
    display: flex;
  }
  .logo {
    display:flex;
  }
  .header h1 {
    width: fit-content;
  }
  .menu {
    flex-direction: column;
    width: fit-content;
  }
  .botonContacto{
    display: block;
    z-index: 2;
  }
  /*---------------services query------------*/
  .services {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100% !important;
    
    margin-top: 20px;
  }
  .serviceRight  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
  }
 #accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
  }
  .services h5 {
    display: flex;
    text-align: center;
    font-family: sans-serif;
  }
  .services div {
    background-color: transparent;
    border: 0px;
  }
  .services button {
    
    color: black !important;
    width: 200px;
    padding: 0px !important;
  }
  .serviceIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: auto;
    border-radius: 40px;
    padding: 0px !important;
  }
  .serviceIcon img {
    width: 140px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  .serviceImg {
    display: none;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0px !important;
  }
  .card div h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .card-body {

  }
  .card-body p {
    width: 100% !important;
    text-align: justify;
  }
  .card-body {
    padding: 0px !important;
    width: 100% !important;
    padding-left: 15px;
  }
  .serviceRight h5 {
    flex-direction: row;
  }
 
  .serviceRight , .serviceLeft{
    padding-left: 10px;
  }
  .serviceRight div , .serviceLeft div {
    padding: 0px;
    }
/*-------------------------------------
targets groups projects
---------------------------------------*/
.grupo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 100px 0px;
  width: 100%;
  border: #333231 solid 1px;
  }
  /*-------------------------------------
targets groups projects end 
---------------------------------------*/

  .ejemplo div {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #ejemplo {
    margin-top: none !important;
    padding: none !important;
  }
  .associate img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
  }
  .carousel-item {
    height: fit-content;
    margin: none !important;
  }
  .associate div div {
    height: 100px !important;
    width: auto;
  }
  .associate div {
    height: 100px !important;
  }
  .associate{
    height: 100px !important;
  }
  
}
